{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oistr</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

    <div id="page-container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
            <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item {{ profile }}">
                                <a class="nav-link {% if 'profile' in request.path %} active {% endif %}" href="{% url 'profile' %}">Profile<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item {{ sign_in }}">
                                <a class="nav-link {% if 'login' in request.path %} active {% endif %}" href="{% url 'login' %}">Sign In<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item {{ register }}">
                                <a class="nav-link {% if 'register' in request.path %} active {% endif %}" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="body-container">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <div class="footer-container">
                    <b>oistr</b> <br>
                    Job Hunting Tool <br>
                    Reykjavík, Iceland <br>
                    Tel: +354 841 7701 <br>
                    <a href="mailto:kristofergudmunds@gmail.com">kristofergudmunds@gmail.com</a>
                </div>
            </div>
        </footer>

    </div>

    <!-- TODO: jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>