{% extends 'base.html' %}

{% block content %}

        <div class="container" id="register-container" >
        <div class="row justify-content-center">
            <div>
                <h2>Create an account</h2>
                <div class="card" >
                    <div class="card-body" id="register-card">
                        <p>Already have an account? <a id="sign-in-link" href="{% url 'login' %}">Sign in</a></p>
                        <form class="form form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{ registration_form }}
                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}
                            <input type="submit" class="btn btn-primary submit-button" id="sign-up-button" value="Sign up" />
                        </form>
                        <br>
                        <p>By creating an account you'll be able to buy, sell, favorite and see your recently viewed properties!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}